@model SecurePasswordManager.Models.PasswordRecord

<h2>Delete</h2>

<h3>Are you sure you want to delete this record?</h3>
<div>
    <h4>PasswordRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformName)
        </dd>

        <!-- Add similar lines for other properties as needed -->

    </dl>

    @using (Html.BeginForm("Delete", "PasswordRecords", new { id = Model.RecordId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Dashboard", null, new { @class = "btn btn-default" })
        </p>
    }
</div>
